#joindiv {
	position: fixed;
	bottom: 0px;
	left: 260px;
	z-index: 9999;
	display: none;
}

#content {
	height: 2000px;
}

.fkword,.kword{
	color: white;
	background-color: red;
	border: solid;
	border-color: red;
	border-width: 2px;
	border-radius: 8px;
	padding: 1px;
}

span[data-begin]:focus,
span[data-begin]:hover {
	background-color: yellow;
	border-radius: 8px;
}
span[data-begin].speaking {
	background-color: yellow;
	border-radius: 8px;
	z-index: 900;
}
span[data-begin] {
	cursor: pointer;
}